<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script defer src="scripts/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="main">
            <div class="container">
                <h1>Welcome to the New Zealand <br> Holiday Finder</h1>
               <form method="post">
                    <div class="input-container">
                        <label for="">Select Type Of Holiday</label>
                        <select name="type" id="">
                            <option value="both">National & Regional</option>
                            <option value="national">National</option>
                            <option value="regional">Regional</option>
                        </select>
                        <select name="year" id="">
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                        <input type="submit" value="submit" formaction="/submit">
                    </div>
               </form>
            </div>
            <% if (locals.holiday) { %>
                <div class="output">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Holiday Name</th>
                                    <th>Actual Date</th>
                                    <th>Observed Date</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                             <% holiday.forEach(h => { %>
                                <tr>
                                    <td><%= h.HolidayName %></td>
                                    <td><%= h.ActualDate %></td>
                                    <td><%= h.ObservedDate %></td>
                                    <td><%= h.Type %></td>
                                </tr>
                             <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <% }else { %>
                <div class="output"></div>
            <% } %>  
        </div>
    
</body>
</html>